<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="_5chBrowser.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="_5chBrowser.Properties.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <_5chBrowser.Properties.Settings>
            <setting name="BbsMenu" serializeAs="String">
                <value>https://menu.5ch.net/bbsmenu.html</value>
            </setting>
            <setting name="ReadProxy" serializeAs="String">
                <value>localhost:8080</value>
            </setting>
            <setting name="WriteProxy" serializeAs="String">
                <value>localhost:8080</value>
            </setting>
            <setting name="LogFolder" serializeAs="String">
                <value />
            </setting>
        </_5chBrowser.Properties.Settings>
        <_5chBrowser.Properties.Settings1>
            <setting name="BbsMenu" serializeAs="String">
                <value>https://menu.5ch.net/bbsmenu.html</value>
            </setting>
            <setting name="ReadProxy" serializeAs="String">
                <value>localhost:8080</value>
            </setting>
            <setting name="WriteProxy" serializeAs="String">
                <value>localhost:8080</value>
            </setting>
        </_5chBrowser.Properties.Settings1>
    </userSettings>
</configuration>